body{
    margin: 0;
}
main{
    height: 100vh;
    width: 100vw;
}
header{
    background-color: #524B4B;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sel{
    background-color: #989595;
    width: 70vw;
    height: 70vh;
}
.sel2{
    background-color: #8a7b7b;
    width: 30vw;
    height: 70vh;
}